################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DIM-WEB/DIM-WEB/obj/Debug/DIM-WEB.csprojAssemblyReference.cache
