
@{
    ViewBag.Title = "Admin";
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

</head>


<body style="background-image: url('../Content/img/dim-background.png'); object-fit: cover;">

    <div class="container d-flex justify-content-around align-content-center p-4">
        <div class="card" style="width: 50rem;">
            <br>
            <br>

            <div class="fadeIn first" style=" text-align:center;">
                <h2>Ingreso al administrador de DIM</h2>
                <img src="~/Content/img/logo-dim.png" id="icon" alt="User Icon" />
            </div>

            <div class="container p-3" style="width: 25rem;">
                <form class="form-signin">


                    <div class="form-label-group">
                        <label for="inputEmail">Usuario</label>
                        <input type="email" id="user" class="form-control" placeholder="Usuarios" required autofocus>

                    </div>

                    <div class="form-label-group">
                        <label for="inputPassword">Contraseña</label>
                        <input type="password" id="pass" class="form-control" placeholder="Contraseña" required>

                    </div>

                    <div class="checkbox mb-3">

                    </div>
                    <button class="btn btn-lg btn-secondary btn-block" type="submit" onclick="validarAdmin(); return false;">Ingresar</button>
                    <div id="alerta-login-incorrecto" class="p-3 d-none"> <div class="alert alert-danger" role="alert"> Los datos ingresados no son validos. </div> </div>
                </form>
                <br>
                <br>

            </div>
        </div>
    </div>
</body>
</html>




<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>

    //Urls
    var urlValidarAdmin = '@Html.Raw(Url.Action("ValidarAdmin", "Admin"))';
    var urlHomeAdmin = '@Html.Raw(Url.Action("AdminHome", "Admin"))'

    $(document).ready(function () {

    });

    function validarAdmin() {
        let email = $("#user").val();
        let password = $("#pass").val();
        if (email != '' && password != '') {
            $.ajax({
                url: urlValidarAdmin,
                type: 'POST',
                data: { "email": email, "password": password },
                success: function (data) {

                    if (data.Respuesta == "OK") {
                        localStorage.setItem('UsuarioID', data.UsuarioID );
                        localStorage.setItem('UsuarioNombre', data.UsuarioNombre );
                        localStorage.setItem('UsuarioApellido', data.UsuarioApellido);
                        window.location.href = urlHomeAdmin;
                    } else {
                        $("#alerta-login-incorrecto").show();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {

                },
            });
        }
    }




</script>