<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/Site.css" rel="stylesheet">
    <script src="~/Scripts/dim-admin.js"></script>

    <title>Bienvenido al Administrador de DIM</title>

</head>

<body class="container-fluid" >


    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h2 class="jumbotron-heading">Bienvenido al administrador de DIM</h2>
                <h5 class="lead text-muted">En esta seccion podrá gestionar Campañas, Usuarios (Veterinarios/Mascotas) y obtener estadísticas del sistema DIM</h5>

            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <h2>Operaciones</h2>
                <hr>
                <br>
                <div class="row">


                    <div class="col-md-3 d-flex">
                        <div class="card card-dim mb-4 box-shadow p-3">
                            <h2 class="center-block">Gestión de Campañas</h2>
                            <img class="card-img-top" src="~/Content/img/alta-vacunacion.jpeg" width="300" height="150" alt="Campañas">
                            <div class="card-body">
                                <p class="center-block card-text fst-italic">Gestion de campañas de vacunación, deparacitación y castración en los correspondientes centros veterinarios de la Ciudad de Buenos Aires</p>
                                <a class="link" href="../admin/CampaniaAlta" target="_blank" >Dar de alta una campaña</a>                            
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 d-flex">
                        <div class="card mb-4 box-shadow p-3">
                            <h2 class="center-block">Gestión de Razas Peligrosas</h2>
                            <img class="card-img-top" src="~/Content/img/dim-vet.jpg" width="300" height="150" alt="Veterinarios">
                            <div class="card-body">
                                <p class="center-block card-text fst-italic">
                                    Gestión de Profesionales veterinarios, valdiación de matriculas, modificación de datos
                                    de usuario, baja de veteriarios en el sistema DIM
                                </p>

                             
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 d-flex">
                        <div class="card mb-4 box-shadow p-3">
                            <h2 class="center-block">Gestión de Veterinarios</h2>
                            <img class="card-img-top" src="~/Content/img/dim-vet.jpg"  width="300" height="150" alt="Campañas">
                            <div class="card-body">
                                <p class="center-block card-text fst-italic">Gestion de campañas de vacunación, deparacitación y castración en los correspondientes centros veterinarios de la Ciudad de Buenos Aires</p>

                                <a class="link" href="../admin/Veterinaria" target="_blank">Gestionar Veteriarios</a>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 d-flex">
                        <div class="card mb-4 box-shadow p-3">
                            <h2 class="center-block">Gestión de Usuarios</h2>
                            <img class="card-img-top" src="~/Content/img/dim-vet.jpg"   width="300" height="150" alt="Campañas">
                            <div class="card-body">
                                <p class="center-block card-text fst-italic">Gestion de campañas de vacunación, deparacitación y castración en los correspondientes centros veterinarios de la Ciudad de Buenos Aires</p>


                            </div>
                        </div>
                    </div>

       

                </div>
            </div>

        </div>
    </main>


    
</body>
</html>

