
@{
    ViewBag.Title = "CampaniaAlta";
}

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Alta de Campaña de vacunación</title>
    <link href="~/Content/admin.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

</head>

<body>


    <div class="container p-2  d-flex justify-content-start">


        <a class=" fw-bolder" href="../admin/Campania" tabindex="-1" aria-disabled="true">
            <span style="color: #84a39c;" class="glyphicon glyphicon-arrow-left p-1" aria-hidden="true"></span>Volver a las Campañas
        </a>

    </div>

    <div class="container p-3  border">

        <h1 class="primary-color"> <span class="glyphicon glyphicon-list-alt"></span>    Alta de Campaña de vacunación</h1>
        <p class="fst-italic f">Complete el formulario para dar de alta una campaña de vacunación</p>

        <br>

        <img src="~/Content/img/dim-vet.jpg" class="img-responsive " id="icon" alt="User Icon" />

        <br>



        <div class="row">

            <!-- DIRECCION DE CAMPAÑA-->
            <div class="col-sm-2 p-3">
                <label for="formControlInput" class="form-label">Nombre de la campaña</label>
                <input class="form-control" id="nombre" placeholder="Ingrese el nombre de la campaña" required>
            </div>

            <div class="col-sm-2 p-3">
                <label for="formControlInput" class="form-label">Descripción de la campaña</label>
                <input class="form-control" id="descripcion" placeholder="Ingrese una descripción de la campaña" required>
            </div>

            <!-- CANTIDAD DE CUPOS-->
            <div class="col-sm-2 p-3">
                <label for="formControlInput" class="form-label">Cantidad de cupos</label>
                <input type="number" class="form-control" id="cupos" placeholder="10" required>
            </div>



            <!-- TIPO DE CAMPAÑA-->
            <div class="col-sm-2 p-3 ">
                <label for="formControlInput" class="form-label">Tipo de campaña</label>
                <select class="form-select form-select" id="tipo" required>
                    <option selected="">Tipo de campaña</option>
                    <option value="1">Vacunación</option>
                    <option value="2">Castración</option>
                    <option value="3">Deparacitación</option>
                </select>
            </div>



            <!-- RAZAS ACEPTADAS-->
            <div class="col-sm-4 p-3">

                <label for="formControlInput" class="form-label ">Razas aceptadas</label>

                <form class="form-inline p-3">

                    <div class="form-check form-group  px-3">
                        <input class="form-check-input" type="checkbox" value="" id="perros" checked="">
                        <label class="form-check-label" for="formCheckChecked">Perros</label>
                    </div>

                    <div class="form-check form-group px-3">
                        <input class="form-check-input" type="checkbox" value="" id="gatos" checked="">
                        <label class="form-check-label" for="formCheckChecked">Gatos</label>
                    </div>

                    <div class="form-check form-group px-3">
                        <input class="form-check-input" type="checkbox" value="" id="razasPeligrosas" checked="">
                        <label class="form-check-label" for="formCheckChecked">Perros de raza peligrosa</label>
                    </div>

                </form>

            </div>



        </div>



        <div class="row">

            <!-- NRO DE CONTACTO-->
            <div class="col-sm-2 p-3">

                <label for="formControlInput" class="form-label ">Nro. de contacto</label>
                <input type="number" class="form-control" id="contacto" placeholder="1138890762" required>


            </div>


            <!-- DIRECCIÓN-->
            <div class="col-sm-4 p-3">

                <label for="formControlInput" class="form-label ">Dirección</label>
                <input class="form-control" id="direccion" placeholder="Av. Rivadavia" required>


            </div>

            <!-- NUMERO-->
            <div class="col-sm-1 p-3">

                <label for="formControlInput" class="form-label ">Numero</label>
                <input type="number" class="form-control" id="numero" placeholder="123">


            </div>

            <!-- PISO-->
            <div class="col-sm-1 p-3">

                <label for="formControlInput" class="form-label ">Piso</label>
                <input type="number" class="form-control" id="piso" placeholder="14">


            </div>


            <!-- DEPARTAMENTO-->
            <div class="col-sm-1 p-3">

                <label for="formControlInput" class="form-label ">Dpto</label>
                <input class="form-control" id="dpto" placeholder="A">


            </div>

            <!-- LOCALIDAD-->
            <div class="col-sm-2 p-3">

                <label for="formControlInput" class="form-label ">Barrio</label>
                <input class="form-control" id="localidad" placeholder="Caballito" required>


            </div>






        </div>



        <div class="row d-flex justify-content-center">

            <input type="submit" id="submit_campaña" class="fw-bold" value="Dar de alta campaña" onclick="AltaCampaña()">



        </div>


    </div>





    <!-- MODAL DATOS ENVIADOS CORRECTAMENTE-->




</body>
</html>




<script type="text/javascript">

     var urlAltaCampaña = '@Html.Raw(Url.Action("CampaniaAlta", "Admin"))';

    $(document).ready(function () {

    });

    function AltaCampaña() {
        debugger;
        let nombre = $("#nombre").val();
        let descripcion = $("#descripcion").val();
        let cupos = $("#cupos").val();
        let tipo = $("#tipo").val();

        let contacto = $("#contacto").val();
        let direccion = $("#direccion").val();
        let numero = $("#numero").val();
        let piso = $("#piso").val();
        let dpto = $("#dpto").val();
        let localidad = $("#localidad").val();


        //User id
        let user = localStorage.getItem('UsuarioID');

        //hardcodeo las razas permitidas
        //let razasPermitidas = [1]

        $.ajax({
            url: urlAltaCampaña,
            type: 'POST',
            data: {
                "nombre": nombre,
                "cuposDisponibles": cupos,
                "descripcion": descripcion,
                "tipo": tipo,
                "contacto": contacto,
                "usuarioID": user,
                "razasPermitidas": "",
                "calle": direccion,
                "numero": numero,
                "piso": piso,
                "departamento": dpto,
                "localidad": localidad,
                "provincia": ""
            },
            success: function (data) {

                if (data.Respuesta == "OK") {
                    alert("Campaña de vacunación registrada correctamente")
                    // modal con los datos para confirmar
                } else {
                    alert("Error al crear campaña de Vacunación.")
                }
            },
            error: function (xhr, textStatus, errorThrown) {

            },
        });


    }




</script>

<style>
</style>