
@{
    ViewBag.Title = "Campania";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>





<script type="text/javascript">

    $(document).ready(function () {
        $('#tabla-campania').DataTable();
    });

    let table = new DataTable('#tabla-campania', {

    });

</script>

<div class="container p-2 my-5 d-flex justify-content-end">


    <a class="btn btn-primary btn-lg fw-bolder" href="../admin/CampaniaAlta" target="_blank" tabindex="-1" aria-disabled="true">
        <span style="color: #84a39c;" class="glyphicon glyphicon-plus p-1" aria-hidden="true"></span> Agregar una nueva Campaña
    </a>

</div>


<div class="container p-5 my-5 border">
    <h2>Campañas</h2>

    <table class="table" id="tabla-campania">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha Alta Campaña</th>
                <th scope="col">Tipo Campaña</th>
                <th scope="col">Dirección</th>
                <th scope="col">Cupos Disponibles</th>
                <th scope="col">Razas aceptadas</th>
                <th scope="col"> Gestionar Campaña </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>02/04/21</td>
                <td>Vacunación</td>
                <td>Caballito II</td>
                <td>300</td>
                <td>Caniche, Golden</td>
                <td><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal">Borrar Campaña #1</button></td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>02/04/21</td>
                <td>Castracion</td>
                <td>Comuna 23</td>
                <td>100</td>
                <td>Caniche, Labrador Retriever</td>
                <td><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal">Borrar Campaña #2</button></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>02/04/21</td>
                <td>Deparacitacion</td>
                <td>Rivadavia 546</td>
                <td>100</td>
                <td>Galgo ingles, Golden</td>
                <td><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal">Borrar Campaña #3</button></td>

            </tr>
        </tbody>
    </table>
</div>

