
@{
    ViewBag.Title = "Dashboard";
}


<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>



<script type="text/javascript">


    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Demografia"
            },
            axisY: {
                title: "Cantidad"
            },
            toolTip: {
                shared: true,
                reversed: true
            },
            data: [{
                type: "stackedColumn",
                name: "Perros",
                showInLegend: "true",
                yValueFormatString: "",
                dataPoints: [
                    { y: 30, label: "Perros" },
    

                ]
            },
                {
                    type: "stackedColumn",
                    name: "Raza Peligrosa",
                    showInLegend: "true",
                    yValueFormatString: "",
                    dataPoints: [
                        { y: 40, label: "Perros" },


                    ]
                },
            {
                type: "stackedColumn",
                name: "Gatos",
                showInLegend: "true",
                yValueFormatString: "",
                dataPoints: [
                    { y: 0, label: "Perros" },
                    { y: 10, label: "Gatos" },

                ]
            }]
        });
        chart.render();



        var chart2 = new CanvasJS.Chart("chartContainer2", {
            title: {
                text: "Vacunacion anual"
            },
            animationEnabled: true,
            data: [
                {
                    xValueFormatString: "MMMM",
                    type: "spline",
                    dataPoints: [
                        { x: new Date(2021, 0), y: 10 },
                        { x: new Date(2021, 1), y: 25 },
                        { x: new Date(2021, 2), y: 34 },
                        { x: new Date(2021, 3), y: 55 },
                        { x: new Date(2021, 4), y: 60 },
                        { x: new Date(2021, 5), y: 62 },
                        { x: new Date(2021, 6), y: 75 },
                        { x: new Date(2021, 11), y: 100 }
                    ]
                }
            ]
        });
        chart2.render();

        var chart3 = new CanvasJS.Chart("chartContainer3", {
            title: {
                text: "Causas de defuncion"
            },
            data: [{
                type: "pie",
                startAngle: 45,
                showInLegend: "true",
                legendText: "{label}",
                indexLabel: "{label} ({y})",
                yValueFormatString: "#,##0.#" % "",
                dataPoints: [
                    { label: "Causas naturales", y: 50 },
                    { label: "Accidente", y: 30 },
                    { label: "Enfermedades infecciosas", y: 9 },
                    { label: "Intoxicación", y: 1 },
                    { label: "Muerte súbita", y: 10 },

                ]
            }]
        });
        chart3.render();


        var chart6 = new CanvasJS.Chart("chartContainer6", {

            title: {
                text: "Defunción anual"
            },


            axisX: {
                lineThickness: 3
            },

            data: [
                {
                    type: "spline",
                    name: "Defunción registrada",
                    showInLegend: "true",
                    dataPoints: [

                        { x: new Date(2021, 02), y: 0 },
                        { x: new Date(2021, 03), y: 0 },
                        { x: new Date(2021, 04), y: 0 },
                        { x: new Date(2021, 05), y: 0 },
                        { x: new Date(2021, 06), y: 5 },
                        { x: new Date(2021, 07), y: 10 },
                        { x: new Date(2021, 08), y: 50},
                        { x: new Date(2021, 09), y: 50 }
                    ]
                },
                {
                    type: "spline",
                    name: "Defunción estimada",
                    showInLegend: "true",
                    dataPoints: [

                        { x: new Date(2021, 02), y: 0 },
                        { x: new Date(2021, 09), y: 115 }

                    ]
                }
            ]
        });
        chart6.render();

        $(".canvasjs-chart-credit").hide()

    }
</script>

<div class="container p-2  d-flex justify-content-start">


    <a class=" fw-bolder" href="../admin/AdminHome" tabindex="-1" aria-disabled="true">
        <span style="color: #84a39c;" class="glyphicon glyphicon-arrow-left p-1" aria-hidden="true"></span>Volver al Admin Home
    </a>

</div>

<div class="container p-2  d-flex justify-content-center">


    <h2 class="primary-color fa-font-awesome-alt">Dashboards</h2>

</div>

<div class="container p-5 my-5 border">


        <div class="row">
            <div class="col-6 p-5">

                <div id="chartContainer" style="height: 300px; width: 100%;"></div>


            </div>
            <div class="col-6 p-5">



                <div id="chartContainer2" style="height: 300px; width: 100%;"></div>


            </div>
       
        </div>
        <div class="row">
            <div class="col-6 p-5">
                <div id="chartContainer3" style="height: 300px; width: 100%;"></div>
            </div>
            <div class="col-6 p-5">
                <div id="chartContainer6" style="height: 300px; width: 100%;"></div>
            </div>

        </div>
    </div>
