
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation-->
    <ul class="nav justify-content-end">
        <ul class="nav">
            <li class="nav-item">
            
                <a class="nav-link primary-color  active" aria-current="page" href="#">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link primary-color" href="../admin/Admin" target="_blank" tabindex="-1" aria-disabled="true">Admin</a>
            </li>
        </ul>
    </ul>

        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->

                            <h1 class="mb-5">
                                DIM es un sistema que reune tramites online, herramientras para el control de la salud
                                de tu mascota y más facildiades para vos y tu mascota en la Ciudad.
                            </h1>
                            <!--    <img class="img-fluid rounded mx-auto d-block mb-3" src="~/Content/img/dim-digital.png" alt="..." /> -->


                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="d-flex"> <img class="img-fluid logos " style="padding: 0px 0px 20px 30px;" src="~/Content/img/app.png" width="80%" height="80%" /></div>
                            <h3>Registrá tu mascota en DIM</h3>
                            <p class="lead mb-0">
                                Ingresá los datos de tu mascota y obtené su DIM digital. Ahora tu mascota,
                                tambien tiene un documento único digital.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="d-flex"> <img class="img-fluid logos " style="padding: 0px 0px 20px 30px;" src="~/Content/img/pawprint.png" width="80%" height="80%" /></div>
                            <h3>Encontrá todo para tu mejor amigo</h3>
                            <p class="lead mb-0">
                                DIM ofrece un mapa iteractivo donde podrás localizar Petshops, caniles,
                                veterinarias y demás puntos de interes en la Ciudad.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="d-flex"> <img class="img-fluid logos" style="padding: 0px 0px 20px 30px;" src="~/Content/img/animal-vaccination.png" width="80%" height="80%" /></div>
                            <h3>Vacuná a tu mascota</h3>
                            <p class="lead mb-0">
                                Enterate de las campañas de vacunación y
                                deparacitación gratuitas que ofrece el Gobierno de la Ciudad. Anota a tu mascota y no hagan más filas.

                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="d-flex"> <img class="img-fluid logos" style="padding: 0px 0px 20px 30px;" src="~/Content/img/emergency-call.png" width="80%" height="80%" /></div>
                            <h3>Realizá denuncias por maltrato animal</h3>
                            <p class="lead mb-0">
                                Desde DIM podrás realizar denuncias por maltrato animal
                                de manera más rápida y segura.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="        background-image: url('../Content/img/dim-vet.jpg'); object-fit: cover;"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2 class="primary-color">¿Sos Veterinario? DIM también es para vos</h2>
                        <p class="lead mb-0">
                            Podés convertirte en Veterinario DIM y ofrecer tus servicios a través de la App.
                        </p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="        background-image: url('../Content/img/dim.png'); object-fit: cover;"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2 class="primary-color">Obtené tu DIM y carnet de vacunación digital</h2>
                        <p class="lead mb-0">
                            Una vez que ingreses los datos de tu mascota y sean validados,
                            podrás obtener su DIM digital, y acceder al carnet de vacunación de tu mascota
                            en formato digital y validado por un profesional.
                            ¡Olvidate del carnet en papel, tu mascota es 2.0!
                        </p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="        background-image: url('../Content/img/dim-pets.jpeg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2 class="primary-color">Todo lo que tu mascota necesita, en un solo lugar</h2>
                        <p class="lead mb-0">
                            En DIM podes anotarte en campañas, consultar las visitas al veterinario, informar el fallecimiento y
                            recibir información actualizada sobre el cuidado y las normativas animales.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">Algunos vecinos de la Ciudad ya probaron DIM, Sumate vos también!</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="~/Content/img/chris.png" alt="..." />
                            <h2>Christian M.</h2>
                            <h4 class="fw-light mb-0">"Tener el carnet de mi mascota de forma digital es genial"</h4>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="~/Content/img/nacho.png" alt="..." />
                            <h2>Nacho</h2>
                            <h4 class="fw-light mb-0">"Gracias a DIM realicé una denuncia por maltrato animal en muy poco tiempo"</h4>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="~/Content/img/cami.png" alt="..." />
                            <h2>Camila</h2>
                            <h4 class="fw-light mb-0">"Al usar DIM tengo toda la información de mi gato en un solo lugar, ¡Es super práctico!"</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to Action-->
        <section class="text-white text-center p-5" style="background-color: #84a39c;">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <img class="img-fluid rounded-circle p-2" src="~/Content/img/mini.png" />
                        <img class="img-fluid rounded-circle p-2" src="~/Content/img/mota.png" />
                        <img class="img-fluid rounded-circle p-2" src="~/Content/img/zeus.png" />
                        <img class="img-fluid rounded-circle p-2" src="~/Content/img/blue.png" />

                    </div>
                    <div class="col-6">
                        <h2 class="mb-4">¿Estás listo para descargarte DIM?</h2>
                        <br>
                        <button class="btn btn-secondary fw-bold f">¡Bajate la App!</button>

                    </div>
                </div>
            </div>
        </section>

        <footer>
            <p>@DateTime.Now.Year - DIM - UTN FRBA &copy; </p>
        </footer>

        <!-- Footer-->
        <!--
        <footer class="footer bg-light">

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2021. All Rights Reserved.</p>
                    </div>

        <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
            <ul class="list-inline mb-0">
                <li class="list-inline-item me-4">
                    <a href="#!"><i class="bi-facebook fs-3"></i></a>
                </li>
                <li class="list-inline-item me-4">
                    <a href="#!"><i class="bi-twitter fs-3"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#!"><i class="bi-instagram fs-3"></i></a>
                </li>
            </ul>
        </div>

            </div>
            </div>
        </footer>
                 -->

</body>
</html>


